.pageHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  flex-wrap: wrap;
  gap: 10px;
}

.title {
  font-size: 20px;
  font-family: "Intermedium" sans-serif !important;
  font-weight: 500;
  // font-weight: 600;
  margin: 0;
  position: relative;
  display: inline-block;
  z-index: 1; // ensure the text is above the line

  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 50%;
    height: 2px;
    background-color: #cfa21e; // or any color you like
    z-index: 0; // behind the text
  }
}

.actions {
  display: flex;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

.btn {
  border-radius: 20px !important;
  display: flex;
  align-items: center;
  background-color: #b78e1a !important;

  box-shadow: "none" !important;
  outline: "none" !important;

  border: none !important;
  // border: 1px solid #cfa21e4d !important;
  color: #ffff;
  font-size: 14px;
  font-weight: 500;

  &:hover {
    background-color: #b78e1a !important;
    // border: 1px solid #cfa21e4d !important;
    box-shadow: none !important;
    cursor: pointer;
  }
}

.iconBtn {
  font-size: 18px;
}

.search {
  border-radius: 20px !important;
  width: 150px;
  border: none !important;
  box-shadow: none !important;
  &:hover {
    box-shadow: none !important;
  }
}
