.cashManager_Container{
    width: 100%;
    padding: 1rem;
}
.cardGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); // 3 per row
    gap: 20px;
    padding: 1px;
    min-height: 10vh;
    max-height: 64vh;
    overflow: auto;
}

.managerCard {
    background: #fff;
    border-radius: 8px;
    padding: 10px 25px;
    position: relative;
    display: flex;
    align-items: center;
    // box-shadow: 0 0 0 1px #eee;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    gap: 25px;
    border: 1px solid #e0e0e0;
}

.header {
    position: relative;
}

.avatar {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    object-fit: cover;
}

.statusDot {
    position: absolute;
    top: 0;
    left: 45px;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
}

.green {
    background-color: #2ecc71;
}

.yellow {
    background-color: #f1c40f;
}

.red {
    background-color: #e74c3c;
}
.content {
    margin-bottom: 10px;
}

.name {
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.caseText {
    font-size: 12px;
    color: #adadad;
    margin-top: 2px;
    font-weight: 500;
}

.caseCount {
    margin-left: 6px;
    font-weight: 600;
    padding: 2px 6px;
    font-size: 12px;
    border-radius: 4px;
}

.green.caseCount {
    color: #2ecc71;
    background: #eafaf1;
}

.yellow.caseCount {
    color: #f1c40f;
    background: #fff8e1;
}

.red.caseCount {
    color: #e74c3c;
    background: #fdecea;
}

.viewBtn {
    margin-top: auto;
    margin-left: 0;
    background: #f5f0e3;
    color: #584206;
    border: none;
    border-radius: 6px;
    font-size: 12px;
    font-weight: 500;
    padding: 4px 15px;
    cursor: pointer;
}