.field {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;

    span {
      color: red;
      margin-left: 4px;
    }
  }

  .input {
    width: 100%;
  }
}
